{% extends 'base.html' %}
{% block head %}
<h1>Login to Start Posting!</h1>
{% endblock %}
{% block body %}
<form action='' method='POST'>
    {{ form.hidden_tag() }}
    <div class="content-section">
        <div>
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div> 
    </div>  
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    <br>
    <div>
        <a href="{{ url_for('signup') }}">Don't have an account? Sign up here!</a>
        <br>
        <a href='/'>Back to Homepage</a>
    </div>
</form>
{% endblock %}